/.*-version
/db/*.sqlite
/db/*.sqlite-journal
/public/assets*
/tmp/*
/node_modules
/apps/*/vendor/assets*
/vendor/assets*
/vendor/*

/rollup.config.js
/yarn-error.log
/yarn.lock
/log/*.log

!.gitkeep
