/.*-version
/db/*.sqlite
/db/*.sqlite-journal
/public/assets*
/public/errors*
/tmp/*
/node_modules
/apps/*/vendor/assets*
/vendor/assets*
/vendor/*

/rollup.config.js
/rollup.config.mjs
/yarn-error.log
/yarn.lock
/log/*.log*

/.bundle

/.env.development
/.env.test
/.env.production

!.gitkeep
