/.*-version
/db/*.sqlite
/db/*.sqlite-journal
/public/assets*
/public/errors*
/tmp/*
/node_modules
/vendor/assets*
/vendor/adapters/*

/rollup.config.js
/yarn-error.log
/yarn.lock
/log/*.log*

/.bundle

!.gitkeep
