@charset "utf-8"

@import "../../../web/assets/stylesheets/font"
@import "colors"

@import "../../../../node_modules/bootstrap/scss/functions"

$component-active-bg: $gray-800
$input-border-color: $gray-500
$border-color: $gray-500

@import "../../../../node_modules/bootstrap/scss/variables"

$jumbotron-padding: 0.5rem

@import "../../../../node_modules/bootstrap/scss/bootstrap"

@import "../../../web/assets/stylesheets/common"
