.login
  width: 20rem

.change_password
  max-width: 40rem

a.card.text-white
  color: inherit

  &:hover
    text-decoration: none
    background-color: $gray-200 !important
    color: $black !important

a.card
  color: inherit

  &:hover
    text-decoration: none
    background-color: $gray-700 !important
    color: $white !important


a.link-user
  color: $gray-500

  &:hover
    text-decoration: none
    color: $light

.text-serif
  font-family: $font-family-serif
