$font-family-sans-serif: "BIZ UDPGothic", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "Noto Sans JP", "Noto Sans", "Meiryo", sans-serif
$font-family-serif: "BIZ UDPMincho", "Hiragino Mincho ProN", "Noto Serif JP", "Noto Serif CJK JP", "Noto Serif", serif
$font-family-monospace: "BIZ UDGothic", "Noto Sans Mono CJK JP", "Noto Sans Mono", monospace
$font-family-base: $font-family-sans-serif
