// TypoPRO Iosevka Term web fonts
$typopro-iosevka-term-fonts: (
  "thin":              ("weight": 100, "style": normal),
  "thinitalic":        ("weight": 100, "style": italic),
  "thinoblique":       ("weight": 100, "style": oblique),
  "extralight":        ("weight": 200, "style": normal),
  "extralightitalic":  ("weight": 200, "style": italic),
  "extralightoblique": ("weight": 200, "style": oblique),
  "light":             ("weight": 300, "style": normal),
  "lightitalic":       ("weight": 300, "style": italic),
  "lightoblique":      ("weight": 300, "style": oblique),
  "regular":           ("weight": normal, "style": normal),
  "italic":            ("weight": normal, "style": italic),
  "oblique":           ("weight": normal, "style": oblique),
  "medium":            ("weight": 500, "style": normal),
  "mediumitalic":      ("weight": 500, "style": italic),
  "mediumoblique":     ("weight": 500, "style": oblique),
  "bold":              ("weight": bold, "style": normal),
  "bolditalic":        ("weight": bold, "style": italic),
  "boldoblique":       ("weight": bold, "style": oblique),
  "heavy":             ("weight": 900, "style": normal),
  "heavyitalic":       ("weight": 900, "style": italic),
  "heavyoblique":      ("weight": 900, "style": oblique));

@each $name, $attr in $typopro-iosevka-term-fonts {
  @font-face {
    font-family: "TypoPRO Iosevka Term";
    font-stretch: normal;
    font-variant: normal;
    @each $key, $value in $attr {
      font-#{$key}: $value;
    }
    src: url("./TypoPRO-iosevka-term-#{$name}.woff") format("woff");
  }
}

// @each $name, $attr in $typopro-iosevka-term-fonts {
//   @font-face {
//     font-family: "TypoPRO Iosevka Term Slab";
//     font-stretch: normal;
//     font-variant: normal;
//     @each $key, $value in $attr {
//       font-#{$key}: $value;
//     }
//     src: url("./TypoPRO-iosevka-term-slab-#{$name}.woff") format("woff");
//   }
// }
