@charset "utf-8"

@import "../../../../node_modules/bootstrap/scss/functions"

@import "../../../../node_modules/bootstrap/scss/variables"

$jumbotron-padding: 0.5rem
$jumbotron-color: $navbar-dark-active-color
$jumbotron-bg: $dark

@import "../../../../node_modules/bootstrap/scss/bootstrap"

.login
  width: 20rem

.change_password
  max-width: 40rem

a.card
  color: inherit

  &:hover
    text-decoration: none
    background-color: $light !important
    color: $black !important

a.link-user
  color: $gray-500

  &:hover
    text-decoration: none
    color: $white