h2 サポートしているブラウザーについて

p
  |
    このシステムでは、ユーザビリティー向上のために最新のWeb技術を使用しているため、
    最新のモダンブラウザー以外はサポートしていません。
    サポートしていないレガシーブラウザーでアクセスする場合は、
  =<> link_to 'レガシー版', Legacy.routes.path(:root)
  |
    を使用してください。
 
h3 サポートしているブラウザー (モダンブラウザー)
p
  |
    下記ブラウザーの最新版を使用してください。
    メンテナンス期間切れのバージョンはサポート対象外です。
ul
  - supported_browsers.each do |browser|
    li
      => link_to browser[:name], browser[:url], target: '_blank'
      | (バージョン
      = browser[:version]
      | 以上)
      - if browser[:note]&.size&.positive?
        small.text-muted<
          = browser[:note]
h3 サポートしていないブラウザー (レガシーブラウザー)
p
  |
    下記ブラウザーは、機能が不足している、または、
    対応状況が不確かなため、サポートしていません。
    今後も対応する予定はありません。
    Blink(Chromium)、WebKit、Geckoを使用するブラウザーの場合、
    正常に表示できる場合がありますが、サポート対象外です。
ul
  - unsupported_browsers.each do |browser|
    li
      = browser
h3 Microsoft Edgeのバージョンについて
p
  |
    Microsoft EdgeにはChromiumベースの新バージョンとEdgeHTMLベースの
    旧バージョンがあります。
    サポート対象は新バージョンのみです。
    旧バージョンの場合は、別のモダンブラウザーを使用するか、
    下記リンク先から新バージョンをインストールしてください。
p
  = link_to '新しい Microsoft Edge をダウンロード | Microsoft', \
    'https://www.microsoft.com/ja-jp/edge'
p
  |
    Windows 10では、Windows Updateにより新パージョンのEdgeへ自動的に
    更新されますが、端末の設定やバージョンによって適用タイミングが
    異なります。
    更新が行われない場合は、上記サイトからダウンロードして、
    手動で更新してください。
