h2 レガシー版について

h3 レガシー版とは
p
  |
    このシステムは最新のWeb技術を数多く使用しており、
    最新のモダンブラウザーでJavaScriptを有効にしなければ、
    通常版を正しく表示することはできません。
    レガシーブラウザーを使用している場合や、
    JavaScriptを無効にしてい場合でも使用できるようにするため、
    レガシー版を用意しています。
    レガシー版ではアイコン等が表示されず、機能も制限されます。
    通常版で利用したい場合は、最新のモダンブラウザーを使用し、
    JavaScriptを有効にしてください。
h3 サポートしているブラウザー (モダンブラウザー)
p
  |
    下記ブラウザーの最新版を使用してください。
    メンテナンス期間切れのバージョンはサポート対象外です。
ul
  - supported_browsers.each do |browser|
    li
      => link_to browser[:name], browser[:url], target: '_blank'
      | (バージョン
      = browser[:version]
      | 以上)
      - if browser[:note]&.size&.positive?
        small.text-muted<
          = browser[:note]
h3 サポートしていないブラウザー (レガシーブラウザー)
p
  |
    下記ブラウザは、機能が不足している、または、
    対応状況が不確かなため、サポートしていません。
    今後も対応する予定はありません。
    Blink(Chromium)、WebKit、Geckoを使用するブラウザーの場合、
    正常に表示できる場合がありますが、サポート対象外です。
ul
  - unsupported_browsers.each do |browser|
    li
      = browser
h3 Microsoft Edgeのバージョンについて
p
  |
    Microsoft EdgeにはChromiumベースの新バージョンとEdgeHTMLベースの
    旧バージョンがあります。
    サポート対象は新バージョンのみです。
    旧バージョンの場合は、別のモダンブラウザーを使用するか、
    下記リンク先から新バージョンをインストールしてください。
p
  = link_to '新しい Microsoft Edge をダウンロード | Microsoft', \
    'https://www.microsoft.com/ja-jp/edge'
