h2 レガシー版について

h3 レガシー版とは
p
  |
    このシステムは最新のWeb技術を数多く使用しており、
    最新のモダンブラウザーでJavaScriptを有効にしなければ、
    通常版を正しく表示することはできません。
    レガシーブラウザーを使用している場合や、
    JavaScriptを無効にしてい場合でも使用できるようにするため、
    レガシー版を用意しています。
    レガシー版ではアイコン等が表示されず、機能も制限されます。
    また、レガシー版であっても一部のブラウザーでは表示が崩れる場合があります。
    通常版で利用したい場合は、最新のモダンブラウザーを使用し、
    JavaScriptを有効にしてください。
p
  |
    サポートしているブラウザーの情報は下記を参照してください。
p
  = link_to 'サポートしているブラウザーについて', Web.routes.path(:about_browser)
