
@charset "utf-8"

@import "../../../../node_modules/bootstrap/scss/functions"

@import "../../../../node_modules/bootstrap/scss/variables"

$jumbotron-padding: 0.5rem
$jumbotron-color: $navbar-dark-active-color
$jumbotron-bg: $dark

@import "../../../../node_modules/bootstrap/scss/bootstrap"

@import "../../../web/assets/stylesheets/common"
