// Fire Code web fonts
// node_modules/firacode/distr/fira_code.css

$firacode-path: "firacode" !default;

$firacode-fonts: (
  "Light": (
    "weight": 300,
    "style": normal,
  ),
  "Regular": (
    "weight": 400,
    "style": normal,
  ),
  "Medium": (
    "weight": 500,
    "style": normal,
  ),
  "SemiBold": (
    "weight": 600,
    "style": normal,
  ),
  "Bold": (
    "weight": 700,
    "style": normal,
  ),
);

@each $name, $attr in $firacode-fonts {
  @font-face {
    font-family: "Fira Code";
    @each $key, $value in $attr {
      font-#{$key}: $value;
    }
    src: url("#{$firacode-path}/distr/woff2/FiraCode-#{$name}.woff2") format("woff2"),
      url("#{$firacode-path}/distr/woff/FiraCode-#{$name}.woff") format("woff");
  }
}

$firacode-variable-fonts: (
  "VF": (
    "weight": 300 700,
    "style": normal,
  ),
);

@each $name, $attr in $firacode-variable-fonts {
  @font-face {
    font-family: "Fira Code VF";
    @each $key, $value in $attr {
      font-#{$key}: $value;
    }
    src: url("#{$firacode-path}/distr/woff2/FiraCode-#{$name}.woff2") format("woff2"),
      url("#{$firacode-path}/distr/woff/FiraCode-#{$name}.woff") format("woff");
  }
}
