:root {
  --yuazkan-font-sans-serif: "BIZ UDPGothic",
    "Noto Sans CJK JP", "Noto Sans JP", "Noto Sans", "Source Han Sans JP",
    "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic StdN",
    "Meiryo", sans-serif;
  --yuzakan-font-serif: "BIZ UDPMincho",
    "Noto Serif CJK JP", "Noto Serif JP", "Noto Serif",
    "Hiragino Mincho ProN", "Hiragino Mincho StdN",
    serif;
  --yuzakan-font-monospace: "BIZ UDGothic", "Noto Sans Mono", monospace;
  --yuzakan-font-code: "Cascadia Code",
    "Fira Code VF", "Fira Code",
    "Source Code Variable", "Source Code Pro", var(--yuzakan-font-monospace);
  --yuzakan-font-base: var(--yuazkan-font-sans-serif);
}
